<table id="expenses" class="datatable hover" data-source="<%= user_expenses_url(format: :json)%>">
  <thead>
    <tr>
      <td></td>
      <td>Date</td>
      <td>Category</td>
      <td>Description</td>
      <td>Currency</td>
      <td>Amount</td>
      <td>Status</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
