<table id="exchange_rates">
  <thead>
    <td>Anchor</td>
    <td>Float</td>
    <td>Rate</td>
    <td>Starts on</td>
    <td>Ends on</td>
    <td></td>
  </thead>
  <tbody>
    <%= render @exchange_rates %>
  </tbody>
</table>
