@charset 'utf-8';

@import 'bourbon';
@import 'base/grid-settings';
@import 'neat';
@import 'base/base';

@import 'refills/cards';
@import 'refills/nav';

@import 'font-awesome';
@import 'jquery-ui/datepicker';
@import 'dataTables/jquery.dataTables';

body {
  @include outer-container;
}

.tiny {
  @include span-columns(1);
}

.small {
  @include span-columns(1.25);
}

.medium {
  @include span-columns(2);
}

.big {
  @include span-columns(3);
}

.large {
  @include span-columns(4);
}

.edit {
  color: darken($notice-color, 60);
}

.destroy {
  color: darken($error-color, 60);
}

.error {
  @include flash($error-color);
}

select {
  width: 100%;
  height: 36px;
  border: 1px solid $light-gray;
  background-color: white;
}

input.button {
  margin-top: 28px;
}

thead {
  font-weight: bold;
}

td {
  padding: 7px;
}

$super-light-gray: #F6F6F9;

#rejected-card {
  .card-header {
    color: darken($error-color, 60);
  }
  .card-image img {
    background-color: $error-color;
  }
}

#pending-card {
  .card-header {
    color: darken($notice-color, 60);
  }
}

#approved-card {
  .card-header {
    color: darken($success-color, 60);
  }
  .card-image img {
    color: darken($success-color, 60);
    background-color: $success-color;
  }
}

#clearance {
  @include span-columns(4);
  @include shift(4);
  .submit-field {
    display: inline-block;
  }

  .other-links {
    display: inline-block;
  }
}

header {
  margin-bottom: 20px;
}

.dataTables_filter {
  @include span-columns(3);
  label {
    width: 100%;
    text-align: left;
    display: inline-block;
  }
  input {
    width: 70%;
    float: right;
    display: inline-block;
  }
}

.dataTables_length {
  @include span-columns(3);
  label {
    width: 100%;
    display: inline-block;
  }
  select {
    width: 20%;
    margin: auto;
    display: inline-block;
  }
}

.reject {
  color: darken($error-color, 60);
}

.approve {
  color: darken($success-color, 60);
}


.status-link {
  margin-right: 10px;
}

#readme {
  @include outer-container;
  max-width: 800px;
  h1 {
    margin-bottom: 20px;
  }
  h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 150%;
  }
}

form.edit_user fieldset {
  padding: 5px;
}

a.destroy_jta {
  float: left;
  margin-left: 30px;
  margin-top: 30px;
}

.disabled input {
  background-color: $light-gray;
}

