<table id="expenses" class="datatable hover" data-source="<%= expenses_path(format: :json) %>">
  <thead>
    <tr>
      <td>User</td>
      <td>Department</td>
      <td>Job title</td>
      <td>Date</td>
      <td>Category</td>
      <td>Description</td>
      <td>Currency</td>
      <td>Amount</td>
      <td>Status</td>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
