<table id="expenses">
  <thead>
    <tr>
      <td></td>
      <td>Date</td>
      <td>Category</td>
      <td>Description</td>
      <td>Currency</td>
      <td>Amount</td>
      <td>Status</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <%= render @expenses %>
  </tbody>
</table>
